/* font-family: 'Comfortaa', cursive; */
/* font-family: 'Nunito', sans-serif; */

*{
    font-family: 'Comfortaa', cursive;
    font-size: 33px;
}
header{
    background-color: rgb(34, 21, 63);
    height: 100vh;
}
nav{
    padding-top: 10px;
}
nav .container{
    display: flex;
    justify-content: space-between;
}
nav img{
    width: 75px;
    height: 75px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 15px;
}
nav ul li a{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;    transition: .5s;

    font-size: 10px;
}
nav ul li a:hover{
    color: rgba(255, 255, 255, 0.5);
}
header h1{
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
}
header p{
    color: rgb(179, 0, 255);
    font-family: 'Nunito', sans-serif;
    font-size: .5rem;
}
.hero{
    width: 600px;
}
#one{
    padding: 30px;
}
#flex{
    display: flex;
    margin-left: 100px;
}
#one img{
    width: 50%;    transition: .5s;

    padding: 10px;
    margin-bottom: 30px;
}
#one img:hover{
    transform: scale(1.3);
}
.div{
    display: flex;
}
.div h1{
    font-weight: bold;
    background: linear-gradient(to left , rgb(103, 2, 103) , rgb(172, 9, 172));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text h3{
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px;
}
.text p{
    font-size: 15px;
    margin-left: 15px;
    margin-top: -15px;
}
.purple{
    background: linear-gradient(purple , rgb(79, 1, 79));
    height: 60vh;
    padding: 30px;
    border-radius: 10px;
    margin-top: -70px;    transition: .5s;

    box-shadow: 10px 10px 10px 5px rgba(128, 0, 128, 0.298);
}
.purple h4{
    font-size: 1rem;
    color: white;
}
.purple p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    margin-bottom: 15px;
}
.purple hr{
    background-color: white;
}
.other{
    margin-top: 50px;
}
.purple:hover{
    transform: scale(1.1);
}
.purpletwo{
    background: linear-gradient(purple , rgb(79, 1, 79));
    height: 50vh;    transition: .5s;

    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px rgba(128, 0, 128, 0.298);
}
.purpletwo h4{
    font-size: .75rem;
    margin-bottom: -10px;
    color: white;
}
.purpletwo p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    margin-bottom: 15px;
    margin-bottom: 50px;
}
.error{
    padding: 30px;
    margin-top: 30px;
}
.error h5{
    font-size: 20px;
}
.error p{
    opacity: .7;
    font-size: 15px;
}
.purpletwo hr{
    background-color: white;
}
.purpletwo:hover{
    transform: scale(1.05);
}
.mail:hover{
    color: purple;
}
.mail{
    text-decoration: none;
    color: rgb(23, 23, 23);
    background: linear-gradient(rgb(216, 216, 216) , whitesmoke);
    font-size: 12.5px;
    padding: 15px 40px;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
#team{
    background: linear-gradient(purple , rgb(79, 1, 79));
    padding: 30px;
    color: white;
    height: 100vh;
}
.member{
    transition: .5s;
}
#container{
    width: 70%;
    margin: auto;
}
.member img{
    width: 100px;
    margin-top: 20px;
}
.member p{
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: -25px;
}
.member span{
    font-size: 10px;
    margin-left: 5px;
    margin-top: 5px;
    opacity: .8;
}
.member:hover{
    margin-top: -15px;
    transition: .5s;
}
#login{
    background-color: rgb(23, 23, 23);
    height: 100vh;
    padding: 30px;
    color: white;
}
.txt{
    padding: 30px;
}
.txt h6{
    font-weight: bold;
    margin-bottom: -10px;
}
.txt span{
    opacity: .7;
    font-size: 15px;
}
.txt p{
    font-size: 15px;
    opacity: .8;
    margin-left: 10px;
}
footer{
    background: linear-gradient(purple , rgb(79, 1, 79));
}
.first img{
    width: 75px;
    margin-left: -10px;
    margin-bottom: 15px;
}
.first p{
    color: white;
    font-size: 12.5px;
    margin-bottom: 10px;
    opacity: .7;
}
.width{
    width: 80%;
    margin: auto;
    justify-content: space-between;
    display: flex;  
}
.seconed{
    padding: 50px;
}
.seconed p{
    color: white;
    font-size: 15px;
    transition: .3s;
    font-weight: bold;
}
.seconed p:hover{
    opacity: .7;
    cursor: pointer;
}
.copywrite{
    text-align: center;
    font-size: 15px;
    color: white;
}
.copywrite a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.copywrite a:hover{
    text-decoration: underline;
    color: white;
}
/* @keyframes purple {
    0% , 20%{
        background: linear-gradient(purple , rgba(208, 208, 208, 0.428));
    }
    21% , 40%{
        background: linear-gradient(rgba(185, 185, 185, 0.453) , rgba(128, 0, 128, 0.821));
    }
    41% , 60%{
        background: linear-gradient(rgb(255, 0, 255) , rgba(82, 4, 82, 0.625));
    }
    61% , 80%{
        background: linear-gradient(rgba(6, 6, 127, 0 ), rgba(128, 0, 128, 0.717));
    }
    81% , 100%{
        background: linear-gradient(rgba(198, 14, 198, 0.663) , rgb(123, 106, 106));
    }
} */
@media screen and (max-width:650px) {
    nav ul{
        display: none;
    }
    nav img{
        margin: auto;
    }
    .purpletwo:hover{
        transform: scale(1);
    }
    header{
        height: 80vh;
    }
    header h1{
        margin-top: 50px;
    }
    .hero{
        width: 100% ;
    }
    #flex{
        flex-direction: column;
    }
    .text p{
        margin-bottom: -10px;
    }
    #flex img{
        width: 100%;
        margin-left: -50px;
    }
    #one{
        padding: 10px;
    }
    .purple{
        margin-top: -10px;
    }
    #login{
        height: auto;
        padding: 5px;
    }
    .purpletwo{
        height: auto;
        margin-top: 30px;
        margin-left: -20px;
    }
    #container{
        width: 100%;
    }
    .txt{
        padding: 10px;
    }
    .member img{
        width: 150px;
    }
    .member{
        text-align: center;
    }
    .purpletwo{
        transform: scale(.9);
    }
    .member:hover{
        margin-left: 50px;
        margin-top: 0;
    }
    #team{
        padding: 0;
        height: auto;
    }
    #team .div{
        padding: 20px;
    }
    .width{
        flex-direction: column;
    }
    .seconed p{
        text-align: center;
    }
}